<div class="containter">
  <div class="row">
    <div class="col-md-2">
      <ul *ngIf="villes" class="list-group">
        <li [ngClass]="v==currentVille ? 'active': ''" *ngFor="let v of villes._embedded.villes" class="list-group-item clickable"
            (click)="onGetCinema(v)">
          {{v.name}}
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="card" style="width: 50rem">
        <div class="card-header">
          Liste des Cinémas
        </div>
        <div class="card-body">
          <ul *ngIf="cinemas" class="nav">
            <li  *ngFor="let c of cinemas._embedded.cinemas"
                class="nav-item">
              <a class="nav-link clickable" (click)="onGetSalles(c)">{{c.name}}</a>
            </li>
          </ul>
          <div class="container">
            <div class="row">
              <div>
                <div *ngIf="salles">
                  <div *ngFor="let s of salles._embedded.salles; let i=index">
                    <div class="card col-md-6" style="width: 30rem; margin-bottom: 1rem">
                      <div class="card-header" style="width: 30rem;">
                        {{s.name}}
                      </div>
                      <div class="card-body" *ngIf="s.projectionFilms">
                        <div class="card" style="width: 25rem; margin-bottom: 1rem">
                          <div class="card-header mb-1" style="width: 25rem;">
                            {{s.projectionFilms._embedded.projectionFilms[0].film.titre}}
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-4">
                                <img src="{{cinemaService.host+'/imageFilm/'+s.projectionFilms._embedded.projectionFilms[0].film.id}} " style="width: 7rem; height: 10rem">
                              </div>
                              <div class="col-md-8">
                                <ul class="list-group">
                                  <li class="list-group-item">Séances</li>
                                  <li [ngClass]="p==currentProjection ? 'active': ''" (click)="onGetTicketsPlace(p)" *ngFor="let p of s.projectionFilms._embedded.projectionFilms" class="list-group-item clickable">
                                    Start: {{p.seance.heureDebut}} - Prix: {{p.prix}} $
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div *ngIf="currentProjection">
<!--                              <div *ngIf="currentProjection.salle.id==s.id">-->
                                <div class="row" *ngIf="currentProjection.ticket">
                                  <button *ngFor="let t of currentProjection.ticket._embedded.tickets" class="btn btn-success margin">
                                    {{t.place.numero}}
                                  </button>
                                </div>
<!--                              </div>-->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
